snippet bindd "bind function" b
bindd = $mainMod ${1:Modifier}, ${2:Key}, ${3:Description}, ${4:exec}, ${5:params}
endsnippet

snippet bind "bind function" b
bind = $mainMod ${1:Modifier}, ${2:Key}, ${3:exec}, ${4:params}
endsnippet
